In [1]:
#!pip install -q ipython-sql pymysql sqlalchemy

In [2]:
%load_ext sql
%sql mysql+pymysql://root:root@localhost:3306

In [3]:
%sql CREATE DATABASE Pictures
%sql USE Pictures

 * mysql+pymysql://root:***@localhost:3306
1 rows affected.
 * mysql+pymysql://root:***@localhost:3306
0 rows affected.

[]

In [5]:
%%sql
CREATE TABLE pictures(
    id varchar(36) NOT NULL,
    path varchar(255) NOT NULL,
    date DATETIME NOT NULL,
    PRIMARY KEY (id)
)

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.

[]

In [7]:
%%sql
CREATE TABLE tags(
    tag varchar(32) NOT NULL,
    picture_id varchar(36) NOT NULL,
    confidence SMALLINT NOT NULL,
    date DATETIME NOT NULL,
    PRIMARY KEY (tag, picture_id),
    FOREIGN KEY (picture_id) REFERENCES pictures(id)
)

 * mysql+pymysql://root:***@localhost:3306
0 rows affected.

[]